spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/crypto_core
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.crypto: DEBUG
    org.springframework: INFO