server:
  port: 8003

spring:
  application:
    name: identity-service

  datasource:
    url: jdbc:postgresql://localhost:5432/crypto_core
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# JWT Configuration
app:
  jwt:
    secret: ${JWT_SECRET:144d4f116a209df65fbaa61977a95a74e0657fc7eeccb0aeec76d364c4e6759f}
    access-token-expiration: 900000 # 15 minutes
    refresh-token-expiration: 604800000 # 7 days

  vnpay:
    tmn-code: ${VNPAY_TMN_CODE:YOUR_VNPAY_TMN_CODE}
    hash-secret: ${VNPAY_HASH_SECRET:YOUR_VNPAY_HASH_SECRET}
    url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    return-url: http://localhost:8080/identity-service/api/v1/payments/vnpay-return

logging:
  level:
    com.crypto: DEBUG
    org.springframework.security: DEBUG
